@page "/datacollection"
@rendermode InteractiveServer
<PageTitle>Data Collection</PageTitle>
@* @using OOPsReview *@
<h3>Data Entry Sample</h3>
<h4>using File I/O for writing to csv file</h4>

<div class="row">
    <div class="offset-1 col-md-10">
        <blockquote>
            <p>This component will demonstrate how your page can handle validation of data input,
                showing validation messages when you have a number of controls for data entry. This
                component will validate the locate controls and create any validation messages for
                invalid data. The messages can be collected using various techniques such as: List or
                Dictionary.
            </p>
            <p>
                This page will input data for an instance of the Employment class. This demo will
                use the Employment class from the OOPs review. The SupervisoryLevel enum and Utilities
                class will also be brought into this project. One could have included the entire
                class library as part of this solution instead of bringing in individual classes.
            </p>
        </blockquote>
    </div>
</div>
<br/><br/>
<!-- area to feedback messages-->
@if(feedback.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedback</p>
    </div>
}

<!-- this area is to display a collection of messages that are within the
    error message container (Dictionary) collection
    this could also simply use a List collection to do the same work
-->
@if(errors.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach(var error in errors)
            {
                <!-- due to the structure of a Dictionary entry
                    there to two components: Key and Value
                    Here we wish to just use the Value
                    If this was a List collection there is
                    one the string so NO Key or Value
                -->
                <li>@error.Value</li>
            }
        </ul>
    </div>
}
<!-- create your input area-->
<fieldset>
    <legend>Employment Data</legend>
    <div class="row">
        <div class="col-md-2">
            <label for="title">Position Title:</label>
        </div>
        <div class="col-md-1">
            <input type="text" id="title" @bind="@employmentTitle" 
                placeholder="enter position title"/>
        </div>
    </div>
     <div class="row">
        <div class="col-md-2">
            <label for="slevel">Select Supervisory Level</label>
        </div>
        <div class="col-md-1">
            <select @bind="@supervisoryLevel">
                <option value="None">select ....</option>
                @foreach (var item in Enum.GetValues(typeof(SupervisoryLevel)))
                {
                    <option value="@item">@item</option>
                    <!-- short form if the value and display
                          are the same
                        <option>value to be displayed</option
                    -->
                }
            </select>
         </div>
  </div>
     <div class="row">
        <div class="col-md-2">
            <label for="startdate">Position Start Date</label>
        </div>
        <div class="col-md-1">
            <div class="col-md-1">
                <input type="date" id="startdate" @bind="@startDate"
                       placeholder="position start date" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label for="empyears">Years in Position</label>
        </div>
        <div class="col-md-1">
            <div class="col-md-1">
                <input type="number" id="empyears" @bind="@empYears"
                       placeholder="years (eg 3.5)"
                       step="0.25" min="0"
                       style="width:75px"/>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" @onclick="Collect"
                    class="btn btn-outline-primary">
                Submit Employment
            </button>
            &nbsp;&nbsp
             <button type="submit" @onclick="Clear"
                    class="btn btn-outline-secondary">
                Clear
            </button>
            &nbsp;&nbsp;
            <button type="submit" 
                    class="btn btn-outline-info">
                <a href="collectionreport">Employment Report</a>
            </button>
            &nbsp;&nbsp;
        </div>
    </div>
</fieldset>
@code {
    
}
